* {
    margin: 0;
    padding: 0;
}
h1 {
    margin-top:-60px;
    padding-top:60px;
}
.login{
    margin-left: 0;
    margin-right: 0;
    
}
.login-col{
    width: 100%;
}

.login-block{
    padding: 25px;
    margin: 0 auto;
    
    max-width: 350px;
    background-color: #dbdbdb;
}
.login-block h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.login-form{
    margin-top: 25px;
}
.signinButton{
    color: black;
    background-color: #8dc68c;
    border-color: #8dc68c;
}
.form-group{
    margin-bottom: 10px;
}

.register{
    margin-top: 30px;
    margin-bottom:30px ;
}
.register-col{
    text-align: center;
    padding: 25px;
    margin: 0 auto;
    max-width: 350px;
    background-color: #dbdbdb;
}

#logo{
    width: 100%;
}

table.dataTable{
    border-collapse: collapse !important;
}

.countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

.countdown {
    font-family: sans-serif;
    color: #fff;
    /*display: inline-block;*/
    font-weight: 100;
    text-align: center;
}


.countdown-number {
    border-color: #e0e0e0;
    border-width: 4px;
    border-style: solid;
    background-color: #a5826e9e;
    padding: 10px;
    border-radius: 50%;
    color: black;
    display: inline-block;
}

.countdown-time {
    color: white;
    font-family: "DejaVu Serif";
}
.countdown-text{
    color: white;
    font-family: "DejaVu Serif";
}
.deadline-message{
    display: none;
    font-size: 24px;
    font-style: italic;
}
.navbar{
    height: 60px;
    background-color: white;
    color: black;
}


figure{
    width:100%;
    overflow: hidden;
    margin:0;
}
figure img{
    display:block;
    width:100%;
}


.photo{
    position: relative;
}

.beforeWedding {
    text-align: center;
    width: 100%;
}
.beforeWedding .text{
    font-family: "DejaVu Serif";
    font-size: 24px;
    color: white;
}

.weddingDate{
    text-align: center;
    width: 100%;
    font-family: "DejaVu Serif";
    font-size: 30px;
    color: white;
}
.gray{
    height: 840px;
    background-color: #a7a7a7;
}
.outer{
    padding-bottom: 10px;
    background-color: #0000004f;
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 2;
}
.names{
    text-align: center;
    width: 100%;
    font-family: "DejaVu Serif";
    font-size: 36px;
    color: white;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link{
    font-family: "DejaVu Serif";
    color: black ;
    font-size: 18px;
}

@media (max-width: 414px) {
    .countdown-number{
        line-height: 1.2;
    }
}

@media (max-width: 320px) {
    .beforeWedding{
    }
    .names{
        font-size: 30px;
    }
    .weddingDate{

        font-size: 24px;
    }
    .beforeWedding .text{
        font-size: 18px;
    }
    .timer{

    }
}
@media (min-width: 320px) {
    .countdown-number{
        width: 70px;
        height: 70px;
    }
    .countdown-time{
        font-size: 20px;
    }
    .countdown-text{
        font-size: 12px;
    }
    .change-ratio img{
        margin:0 -50%;
        width:200%;
    }

    #logoDA{
        margin-top: -18px;
    }

}
@media (min-width: 375px) {
    .countdown-number{
        width: 88px;
        height: 88px;
    }
    .countdown-time{
        font-size: 30px;
    }
    .countdown-text{
        font-size: 16px;
    }

}

@media (min-width: 576px) {
    .outer{
        border-style: solid;
        border-width: 2px;
        border-color: white;
        width: 430px;
    }
    .countdown-number{
        width: 97px;
        height: 97px;
        line-height: 1.5;
    }

}

@media (min-width: 768px) {
    .change-ratio img{
        margin: -10% -15% -30% -15%;
        width: 120%;
    }
    #logoDA{
        margin-top: -18px;
    }
}

@media (min-width: 992px) {


    #logoDA{
        margin-top: 60px;
    }
}

@media (min-width: 1200px) {
    #logoDA{
        margin-top: 60px;
    }
}





